// Add your settings here

//colors
$pure-white: #FFFFFF;
$bg-left-nav: #2F343D;
$green-available: #2DE0A5;
$yellow-away: #FFD21F;
$red-dnd: #F5445C;
$bg-btn-header-menu: #1F2329;
$list-header-title: #707478;
$list-header-counter-bg: #414852;
$list-header-counter: #C6C8CB;
$counter-new-messages-bg: #1D74F5;
$last-message: #83878E;
$item-selected-bg: #1F2329;
$unselected-item: #A0A1A1;

// no gutters 
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

$grid-columns:               12 !default;
$grid-gutter-width-base:     0px !default;
$grid-gutter-widths: (
  xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base
) !default;