// Add your settings here

//colors
$pure-white: #FFFFFF;
$bg-left-nav: #2F343D;
$green-available: #2DE0A5;

// no gutters 
.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}